*{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: large; 
}
body{
    background-color: firebrick;
}
.header{
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 32px;
}
.start{
    display: flex;
    justify-content: center;
    padding: 32px;
}
.startBtn1{
    
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    font-size: 32px;
}
#actions{
    display: flex;
    justify-content: center;
    padding: 32px;
}
.refresh{
    
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    font-size: 32px;
}
.evaluate{
    
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    font-size: 32px;
}

 #main{
    display: none;
}
#main.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 30px;
    
}
#main.hide{
    display: none;
}
#options{
    display: none;
}
#options.show{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 20px;
    border: solid 5pt;
}
#options.hide{
    display: none;
}

#start.hide{
    display: none;
}
#option{
	padding: 10px;
	width: 15vw;
	height: 10vh;
	background-color: lightskyblue;
	
}
#option:hover{
	background-color: lightgoldenrodyellow;
}
.results{
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.timer {
    
    float: right;
    height: 40px;
    padding: 30px;
    background: #13293d;
    color: #fff;
    text-align: center;
  }
  
  